In [1]:
import numpy as np 
import pandas as pd

In [2]:
BASE_PATH = r"D:\DATA_ANALYST\FULL_STACK_FROJECT\Stock Market Prediction\stock_market_unclean_dataset"
df = pd.read_csv(BASE_PATH + r"\macro_data\inflation_interest.csv")

In [3]:
df.head()

         date  inflation  interest_rate
0  2015-01-01       5.54           6.50
1  2015-01-02       5.52           6.51
2  2015-01-05       5.53           6.52
3  2015-01-06       5.55           6.52
4  2015-01-07       5.55           6.51

In [4]:
df.rename(columns={'inflation': 'inflation_rate'}, inplace=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2892 entries, 0 to 2891
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            2892 non-null   object
 1   inflation_rate  2892 non-null   float64
 2   interest_rate   2892 non-null   float64
dtypes: float64(2), object(1)
memory usage: 67.9+ KB

In [6]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.dropna(subset=['date'], inplace=True)
df.sort_values(by='date', inplace=True)

In [7]:
df.dropna(inplace=True)

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df = df[df['inflation_rate'] >= 0]

In [10]:
df.reset_index(drop=True, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2892 entries, 0 to 2891
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            2892 non-null   datetime64[ns]
 1   inflation_rate  2892 non-null   float64
 2   interest_rate   2892 non-null   float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 67.9 KB

In [12]:
df.head()

        date  inflation_rate  interest_rate
0 2015-01-01            5.54           6.50
1 2015-01-02            5.52           6.51
2 2015-01-05            5.53           6.52
3 2015-01-06            5.55           6.52
4 2015-01-07            5.55           6.51

In [13]:
df['real_interest_rate'] = df['interest_rate'] - df['inflation_rate']

In [14]:
df['inflation_trend'] = df['inflation_rate'].diff()

In [15]:
df['interest_rate_trend'] = df['interest_rate'].diff()

In [16]:
df['macro_environment'] = df.apply( lambda x: 'Tight' if x['real_interest_rate'] > 0 else 'Loose',axis=1 )

In [17]:
df.head()

,date,inflation_rate,interest_rate,real_interest_rate,inflation_trend,interest_rate_trend,macro_environment
0,2015-01-01,5.54,6.50,0.96,NaN,NaN,Tight
1,2015-01-02,5.52,6.51,0.99,-0.02,0.01,Tight
2,2015-01-05,5.53,6.52,0.99,0.01,0.01,Tight
3,2015-01-06,5.55,6.52,0.97,0.02,0.00,Tight
4,2015-01-07,5.55,6.51,0.96,0.00,-0.01,Tight

In [18]:
df.dropna(inplace=True)

In [19]:
df.head()

,date,inflation_rate,interest_rate,real_interest_rate,inflation_trend,interest_rate_trend,macro_environment
1,2015-01-02,5.52,6.51,0.99,-0.02,0.01,Tight
2,2015-01-05,5.53,6.52,0.99,0.01,0.01,Tight
3,2015-01-06,5.55,6.52,0.97,0.02,0.00,Tight
4,2015-01-07,5.55,6.51,0.96,0.00,-0.01,Tight
5,2015-01-08,5.55,6.54,0.99,0.00,0.03,Tight

In [20]:
df = df.rename(columns={
    "date": "trade_date"
})
df = df[["trade_date",
         "inflation_rate",
         "interest_rate",
         "real_interest_rate",
         "inflation_trend",
         "interest_rate_trend",
         "macro_environment"]]

In [21]:
df.to_csv("inflation_interest.csv", index=False)

In [22]:
df.shape

(2891, 7)