In [1]:
import numpy as np 
import pandas as pd

In [2]:
BASE_PATH = r"D:\DATA_ANALYST\FULL_STACK_FROJECT\Stock Market Prediction\stock_market_unclean_dataset"
df = pd.read_csv(BASE_PATH + r"\news_sentiment\daily_sentiment.csv")

In [3]:
df.head()

         date company  sentiment_score
0  2015-01-01    HDFC            0.165
1  2015-01-02    HDFC            0.220
2  2015-01-05    HDFC            0.268
3  2015-01-06    HDFC            0.111
4  2015-01-07    HDFC            0.137

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144600 entries, 0 to 144599
Data columns (total 3 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             144600 non-null  object
 1   company          144600 non-null  object
 2   sentiment_score  144600 non-null  float64
dtypes: float64(1), object(2)
memory usage: 3.3+ MB

In [5]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.dropna(subset=['date'], inplace=True)

In [6]:
df['company'] = df['company'].str.strip().str.upper()

In [7]:
df = df[df['sentiment_score'].between(-1, 1)]

In [8]:
df.drop_duplicates(inplace=True)

In [9]:
df['sentiment_label'] = df['sentiment_score'].apply(lambda x: 'Positive' if x > 0 else 'Negative' if x < 0 else 'Neutral')

In [10]:
daily_sentiment = (df.groupby(['date', 'company'], as_index=False).agg(avg_sentiment=('sentiment_score', 'mean')))

In [11]:
daily_sentiment['sentiment_strength'] = daily_sentiment['avg_sentiment'].abs()

In [12]:
df.head()

        date company  sentiment_score sentiment_label
0 2015-01-01    HDFC            0.165        Positive
1 2015-01-02    HDFC            0.220        Positive
2 2015-01-05    HDFC            0.268        Positive
3 2015-01-06    HDFC            0.111        Positive
4 2015-01-07    HDFC            0.137        Positive

In [13]:
df = df.rename(columns={
    "date": "trade_date"
})
df = df[["trade_date",
         "company",
         "sentiment_score",
         "sentiment_label"]]

In [14]:
df.to_csv("daily_sentiment.csv", index=False)